[Unit]
Description=Python Keep-Alive Service
[Service]
ExecStart=/usr/bin/python /usr/local/lib/keep-alive/mysql.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
User=python_demo_service
[Install]
WantedBy=default.target